<div class="navbar-inverse container-fluid" style="margin-top:25%;">
	<div class="row">
		<div class="col-md-2 col-sm-2 col-xs-12">
      		<div align="Center">
        		<label style="color: #fff;">İletişim</label>
      		</div>
	        <i class="fa fa-phone" aria-hidden="true" style="padding: 4px 10px;font-size: 15px; color: #fff">&nbsp;0555443322</i>
	    
	        <i class="fa fa-phone" aria-hidden="true" style="padding: 4px 10px;font-size: 15px; color: #fff">&nbsp;08503332211</i>
	        <i class="fa fa-whatsapp" aria-hidden="true" style="padding: 4px 10px;font-size: 15px; color: #fff">&nbsp;0555443322</i>
		      </td>
		</div>   
		<div class="col-md-2 col-sm-2 col-xs-12">
			<div align="Center">
				<label href="" class="" aria-hidden="true" style="padding: 4px 16px;font-size: 15px; color: #fff">Hakkımızda</label>
			</div>
			<a href="" class="" aria-hidden="true" style="padding: 4px 16px;font-size: 15px; color: #fff">Biz Kimiz</a>
			<a href="" class="" aria-hidden="true" style="padding: 4px 16px;font-size: 15px; color: #fff">Misyonumuz</a>
			<a href="" class="" aria-hidden="true" style="padding: 4px 16px;font-size: 15px; color: #fff">Vizyonumuz</a>
		</div> 	 
		<div class="col-md-2 col-sm-2 col-xs-12">	  
		    <div align="Center">
		        <label style="color: #fff;">Hizmetlerimiz</label>
		    </div>
		    <a href="" class="" aria-hidden="true" style="padding: 4px 16px;font-size: 15px; color: #fff">E-Ticaret</a>
		    <a href="" class="" aria-hidden="true" style="padding: 4px 16px;font-size: 15px; color: #fff">Reklam</a>
		</div>  
		<div class="col-md-3 col-sm-3 col-xs-12">
		    <div align="Center">
		        <label style="color: #fff;">Gizlilik Ve Kullanım</label>
		    </div>
	        <a href="" class="" aria-hidden="true" style="padding: 4px 16px;font-size: 15px; color: #fff">Kullanım Koşulları</a>
	        <a href="" class="" aria-hidden="true" style="padding: 4px 16px;font-size: 15px; color: #fff">Üyelik Sözleşmesi</a>
	        <a href="" class="" aria-hidden="true" style="padding: 4px 16px;font-size: 15px; color: #fff">Gizlilik</a>
		</div>  
		<div class="col-md-3 col-sm-3 col-xs-12">
			<div align="Center">
				<label style="color: #fff;">Bize Takip Edin</label>
			</div>
			<a href="" class="fa fa-twitter" aria-hidden="true" style="padding: 4px 16px;font-size: 15px; color: #fff">&nbsp;www.twitter.com</a>
			<a href="" class="fa fa-youtube" aria-hidden="true" style="padding: 4px 16px;font-size: 15px; color: #fff">&nbsp;www.youtube.com</a>
			<a href="" class="fa fa-facebook" aria-hidden="true" style="padding: 4px 16px;font-size: 15px; color: #fff">&nbsp;www.facebook.com</a>
			<a href="" class="fa fa-instagram" aria-hidden="true" style="padding: 4px 16px;font-size: 15px; color: #fff">&nbsp;www.instagram.com</a>
		</div>
	</div>
</div>